<p>{{ _('Dear') }} {{ user.username }},</p>
<p>
    {{ _('To reset your password') }}
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        {{ _('click here') }}
    </a>.
</p>
<p>{{ _("Alternatively, you can paste the following link in your browser's address bar:") }}</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>{{ _("If you have not requested a password reset simply ignore this message.") }}</p>
<p>{{ _("Sincerely,") }}</p>
<p>The Team</p>
